.App {
  text-align: center;
  margin: auto 15px;
}

.header {
  margin: 50px auto;
  color: black;
  background: white;
}

.content {
  display: flex;
}

.todo-input {
  font-size: 30px;
  flex: 1;
}

.todo-btn {
  width: 50px;
  height: 50px;
  background: green;
}

.todo {
  flex: 1;
  text-align: left;
  padding: 20px;
  border: 1px black solid;
}

.remove-btn{
  width: 50px;
  height: 50px;
  background: red;
}

.todo-wrapper{
  display: flex;
  align-items: center;
}

.input-checkout{
  width: 50px;
  height: 50px;
}
